<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if cart == {} %>
  <%= render 'emptycart' %>
  <% else %>
  <%= render 'fullcart' %>
  <% end %>

</section>
